{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}"></script>
{% endblock head %}
{% block title %}Sharedu{% endblock %}

{% block main %}
    {% include "actions/detail.html" %}

{% endblock main %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('.stream').append(data);
    	        }
            });
    	}
    });
{% endblock %}