{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Posts{% endblock %}

{% block head %}
	<link href="{% static 'css/articles.css' %}" rel="stylesheet">
  
{% endblock head %}

{% block content %}
<div style="margin-top:20px;" class="w3-container">
    <div id="article-list">
        {% include "blog/posts.html" %}
    </div>
</div>
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('#article-list').append(data);
    	        }
            });
    	}
    });
{% endblock %}