{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block head %}
<style>
    .form-control {
        width:100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="w3-white w3-round border-all" style="max-width:600px; margin:0 auto; width:100%; padding:15px; margin-top:30px; margin-bottom:200px;">

    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  	{% csrf_token %}
  	{% for hidden in form.hidden_fields %}
       	{{hidden}}
  	{% endfor %}
        {% for field in form.visible_fields %}
       	<div class="form-group">
       	    {% for error in field.errors %}
       			<div class="alert alert-danger" >{{ error }}</div>
       		{% endfor %}
              	<label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field|add_class:'form-control' }}
        </div>	
        {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>

{% endblock %}
