{% load i18n %}
{% load humanize %}

<ul style="list-style:none; font-size:18px;">
    <li><i class="fa fa-user menu-icon"></i><a href="/{{user.username}}/">Profile</a></li>
    <li><i class="fa fa-book menu-icon"></i><a href="/{{user.username}}/favourite-books">Favourite books</a></li>
    <li><i class="fa fa-pencil-square-o menu-icon"></i><a href="/{{user.username}}/">Posts</a></li>
    <li><i class="fa fa-cog menu-icon"></i><a href="/settings/">Settings</a></li>
    <li><i class="fa fa-sign-out menu-icon"></i><a href="/accounts/logout">Log-out</a></li>
</ul>
