{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="http://idangero.us/swiper/dist/css/swiper.min.css">
<style>
	.p-square {
		position: relative;
		width: 100%;
	}

	.p-square:after {
		content: "";
		display: block;
		padding-bottom: 60%;
	}


	.image {
		position: absolute;
		background-image: url('https://libercen.s3.amazonaws.com/{{page_user.profile.avatar}}');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover; 
		width: 100%;
		height: 100%;
	}
	.settings {
		position: absolute;
		background-image: url('/static/icons/settings.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size:cover;
		width: 100%;
		height: 100%;

	}

	.clearer{
		clear:both;overflow:hidden;
	}
	.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

	{% if page_user.profile.back_image %}
	.avatar:before {
  		background-image: url('https://libercen.s3.amazonaws.com/{{page_user.profile.back_image}}');
  		min-height: 100%;
  		padding: 30%;
        width: 100%;
        position: absolute;
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		content: "";
        z-index: -1;
        display: block;
  		-webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .avatar {
      position: relative;
      z-index: 0;
    }
  	{% else %}
  	.avatar:before {
  		background-image: url('/static/images/back.jpg');
  		min-height: 100%;
  		padding: 30%;
        width: 100%;
        position: absolute;
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		content: "";
        z-index: -1;
        display: block;
  		-webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    .avatar {
      position: relative;
      z-index: 0;
    }
	{% endif %}

	.swiper-container {
	 	width:100%;
	 	margin:0px auto;
	  	padding:10px;
	  	background-color: white;
      	padding-bottom: 50px;
    }
    .swiper-slide {
      	background-position: center;
      	background-size: cover;
      	width: 150px;
      	height: 225px;

    }
    .profile-list {
		width:100%;
		margin:0px auto;
		background-color: white;
		padding-bottom: 50px
		background-color: white;

    }
    .clearer{
		clear:both;overflow:hidden;
	}
	.small-profile {
		position: absolute;
		background-position: center center;
		background-repeat: no-repeat;
		background-size:cover;
		width: 100%;
		height: 100%;
	}

	.w3-btn {
		text-align: left!important;
	}
	.p-btn {
	    height:50px;
	    font-size: 19px;
	}
	.wheat {
		background-color:wheat;
	}
	.book-list {
        position:relative;
        width:100%;

    }
    .book-list:after {
        content:"";
        display:block;
        padding-bottom:158%;

    }
    .list {
        width:49.999%;
        float:left;

    }
    .info-ul {
        list-style-type: none;
    	padding: 0;
    	margin: 0;
    }
    .info-ul li {
    	padding:16px;
    }
    .info-ul li strong {
    	font-size:16px;
    }
</style>
{% endblock %}

{% block content %}
<div style="width:100%; margin:20px auto; max-width:1200px;" class="clearer">
	<div style="width:26.999%; background-color:white; float:left;" class="border-all">
		<div class="p-square avatar border-bottom">
			{% if page_user.profile.avatar %}
				<div style="width:50%; margin:auto;">
					<div class="square" style="margin-bottom:10px; margin-top:9%; float:left;">
						<div class="image border" style="border-radius:100px;">
						</div>
					</div>
				</div>
			{% else %}
				<div style="width:50%; margin:auto;">
					<div class="square" style="margin-bottom:10px; margin-top:9%; float:left;">
						<div class="no-image border" style="border-radius:100px;">
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div style="padding-left: 14px; padding-top:12px;" class="clearer">
			<p style="float:left; font-size:20px;" >{{ page_user.profile.get_screen_name }}</p>
			{% if request.user == page_user %}
            <a href="/settings/"><i style="font-size:30px; margin-left:10px;" class="fa fa-cog" aria-hidden="true"></i></a>
			{% else %}
				<div>
					{% with total_followers=page_user.followers.count %}
						<a href="#" style="color:white; border-radius:5px; margin-left:4px; margin-bottom:11px;" data-id="{{ page_user.id }}" data-action="{% if request.user in page_user.followers.all %}un{% endif %}follow" class="w3-btn custom-{% if request.user in page_user.followers.all %}green{% else %}blue{% endif %} follow button">
							{% if request.user not in page_user.followers.all %}
								Follow
							{% else %}
								Following
							{% endif %}
						</a>
					{% endwith %}
				</div>
			{% endif %}
		</div>
		<div style="width:100%;" class="border-top">
			<ul>
				<li class="w3-btn border-bottom p-btn" style="width:100%;">
					<a style="width:100%;" href="/{{page_user.username}}/followers/">
						{% with total_followers=page_user.followers.count %}
							<span class="count-followers">
								<span class="total">{{ total_followers }}</span>
								Follower{{ total_followers|pluralize }}
							</span>
						{% endwith %}
					</a>
				</li>
				<li class="w3-btn border-bottom p-btn" style="width:100%;">
					<a style="width:100%;" href="/{{page_user.username}}/following/">
						{% with total_followings=page_user.following.count %}
							<span class="count-following">
								<span class="total">{{ total_followings }}</span>
								Following
							</span>
						{% endwith %}
					</a>
				</li>
				<li class="w3-btn border-bottom p-btn" style="width:100%;">
					<a href="/{{page_user.username}}/favourite-books/">
						{% with total_favourites=page_user.profile.fav_books.count %}
							<span class="count-books">
								<span class="total">{{ total_favourites }}</span>
								Favourite book{{ total_favourites|pluralize }}
							</span>
						{% endwith %}
					</a>
				</li>
				<li class="w3-btn border-bottom p-btn" style="width:100%;"><a href="#">Read</a></li>
				<li class="w3-btn border-bottom p-btn" style="float:left; width:100%;"><a href="#">Wants to read</a></li>
				<li class="w3-btn p-btn" style="float:left; width:100%;"><a href="/{{page_user.username}}/info/">Info</a></li>
			</ul>
		</div>
	</div>
	<div style="width:71.999%; float:right;" class="w3-white border-left border-right border-top">
		<div class="profile-list">
			{% if followers %}
            <div style="text-align:center;">
                <p class="h3 top-headline" style="display:inline-block;"><b>Followers</b></p>
            </div>
			<div id="followers-list">
				{% include "users/followers.html" with followers=followers %}
			</div>
			{% elif followings %}
			<div style="text-align:center;">
                <p class="h3 top-headline" style="display:inline-block;"><b>Following</b></p>
            </div>
			<div id="following-list">
				{% include "users/following.html" with followings=followings %}
			</div>
			{% elif books %}
			<div style="text-align:center;">
                <p class="h3 top-headline" style="display:inline-block;"><b>Favourite books</b></p>
            </div>
			<div id="books-list">
				{% include "users/fav-books.html" with books=books %}
			</div>
			{% elif info %}
			<div style="text-align:center;">
                <p class="h3 top-headline" style="display:inline-block;"><b>Information</b></p>
            </div>
			<div>
				{% include "users/info.html" with books=books %}
			</div>
			{% else %}
			<p class="w3-xlarge top-headline">Nothing here yet. Try to explore Libercen.</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block domready %}
	$('a.follow').click(function(e){
		e.preventDefault();
		var div = $(this).closest("div");
		$.post('{% url "user_follow" %}',
			{
				id: $(this).data('id'),
				action: $(this).data('action')
			},
			function(data){
				if (data['status'] == 'ok') {
					var previous_action = $('a.follow', div).data('action');
					// toggle data-action
					$('a.follow', div).data('action',
					previous_action == 'follow' ? 'unfollow' : 'follow');
					// toggle link text
					$('a.follow', div).text(
					previous_action == 'follow' ? 'Following' : 'Follow');
					// update total followers
					var previous_followers = parseInt(
					$('span.count-followers .total', div).text());
					$('span.count-followers .total', div).text(previous_action == 'follow' ?
					previous_followers + 1 : previous_followers - 1);
					if (previous_action == 'follow') {
						$('a.follow', div).removeClass('custom-blue');
						$('a.follow', div).addClass('custom-green');
					}
          			else {
						$('a.follow', div).removeClass('custom-green');
						$('a.follow', div).addClass('custom-blue');
					}
				}
			}
		);
	});
    $('a.like').click(function(e){
        e.preventDefault();
		var div = $(this).closest("li");
        $.post('{% url "post_like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.like', div).data('action');

                    // toggle data-action
                    $('a.like', div).data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text

                    // update total likes
                    var previous_likes = parseInt($('span.count-like .total', div).text());
                    $('span.count-like .total', div).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });

    });
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('#followers-list').append(data);
    	        }
            });
    	}
    });
    $('button.fav').click(function(e){
		e.preventDefault();
		var div = $(this).closest("div");
		$.post('{% url "add_fav" %}',
			{
				id: $(this).data('id'),
				action: $(this).data('action')
			},
			function(data){
				if (data['status'] == 'ok') {
					var previous_action = $('button.fav', div).data('action');
					// toggle data-action
					$('button.fav', div).data('action',
					previous_action == 'fav' ? 'unfav' : 'fav');
					// toggle link text
					$('button.fav', div).text(
					previous_action == 'fav' ? 'Remove from favourites' : 'Add to favourites');
					// update total followers
					var previous_favers = parseInt(
					$('span.count .total', div).text());
					$('span.count .total', div).text(previous_action == 'fav' ?
					previous_favers + 1 : previous_favers - 1);
					if (previous_action == 'fav') {
						$('button.fav', div).removeClass('custom-green');
						$('button.fav', div).addClass('custom-red');
					}
          			else {
						$('button.fav', div).removeClass('custom-red');
						$('button.fav', div).addClass('custom-green');
					}

				}
			}
		);
	});
{% endblock %}