{% extends 'base.html' %}

{% load widget_tweaks %}

{% block head %}

<style>
    .form-control { width:100%; }
</style>

{% endblock %}


{% block content %}

<div style="margin-top:30px; max-width:700px; width:90%; margin:10px auto; border:1px solid grey; padding:10px; background-color: #efecec;" class="w3-white w3-container">
    <div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <h2>User Settings</h2>
        <form action="." method="post" enctype="multipart/form-data">
            {% for hidden in user_form.hidden_fields %}
              {{hidden}}
            {% endfor %}

            {% for field in user_form.visible_fields %}
            <div class="form-group">
              {% for error in field.errors %}
              <div class="alert alert-danger" >{{ error }}</div>
            {% endfor %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field|add_class:'form-control' }}
            </div>  
            {% endfor %}

            {% for hidden in profile_form.hidden_fields %}
              {{hidden}}
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            <div class="form-group">
              {% for error in field.errors %}
              <div class="alert alert-danger" >{{ error }}</div>
            {% endfor %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field|add_class:'form-control' }}
            </div>  
            {% endfor %}
            
            {% csrf_token %}
            <input class="w3-btn w3-round custom-blue" style="box-shadow:none; color:white" type="submit" value="Save new settings">
        </form>
    </div>
</div>

{% endblock %}